*{
    margin: 0;
    padding: 0;
    
}
body{
    width: 100%;
}
@media (max-width:600px) {
   nav .header h4{
     justify-content: center;
     text-align: center;
     
        color: white;
        background: rgba(0, 0, 0, 0.747);
        padding-top: 15px;
        padding-bottom: 15px;
        font-family: Arial, Helvetica, sans-serif;
    }
   nav .header  i{
        color: rgb(0, 0, 0);
        text-align: center;
    }
}
